<% @messages.each do |message| %>
  <div id="<%= message.id %>">
    <h2><%= urlconv(message) %></h2>
    <p><%= Time.at(message.time).strftime("%d.%m.%Y %H:%M:%S") %> | von <%= make_name(message) %> via <%= message.via %></p>
    <br /><br />
  </div>
<% end %>
