<% @messages.each do |message| %>
  <div id="<%= message.id %>">
    <h2><%= urlconv(message) %></h2>
    <p><%= make_time(message) %> | von <%= make_name(message) %> via <%= message.via %></p>
    <br /><br />
  </div>
<% end %>
